<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
    <a href="{% post_url 2014-07-28-aboutme %}"><img src="/img/me.png" id="me"></a>

  
      <div class="masthead-inner">
            
       
      
        <h2>{{ site.title }}</h2>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
           <!-- <li>
              <a href="https://github.com/mdo/hyde/archive/v{{ site.version }}.zip">Download</a>
            </li>
            <li>
              <a href="https://github.com/mdo/hyde">GitHub project</a>
            </li>
  
          </ul> -->
          <a href="http://facebook.com/avasz"> Facebook</a> | <a href="http://twitter.com/avashz">Twitter</a> | <a href="http://github.com/avasz">Github </a><br>
          <a href="http://np.linkedin.com/pub/avash-mulmi/62/11a/290">LinkedIN</a><br>
          Avasz on moznet & freenode <p>
          <br>
         
          Copyleft: {{ site.author.name }}.<br>
          All wrongs preserved.<br>
     2014.<br>
          
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>
       <header class="rmasthead">
   <h2> Index </h2>
  <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
    </header>

  </body>
</html>
