<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="masthead">
    <a href="{% post_url 2014-07-28-aboutme %}"><img src="/img/me.png" id="me"></a>

  
      <div class="masthead-inner">
            
       
      
        <h2>{{ site.title }}</h2>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
           <!-- <li>
              <a href="https://github.com/mdo/hyde/archive/v{{ site.version }}.zip">Download</a>
            </li>
            <li>
              <a href="https://github.com/mdo/hyde">GitHub project</a>
            </li>
  
          </ul> -->
          <a href="http://facebook.com/avasz"> Facebook</a> | <a href="http://twitter.com/avashz">Twitter</a> | <a href="http://github.com/avasz">Github </a><br>
          <a href="http://np.linkedin.com/pub/avash-mulmi/62/11a/290">LinkedIN</a><br>
          Avasz on moznet & freenode <p>
          <br>
         
          ↄ⃝ Copyleft: {{ site.author.name }}.<br>
         <a href="http://en.wikipedia.org/wiki/All_Rites_Reversed"> All Rites Reversed. </a><br>
     2014.<br>
          
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
      
  <div id="disqus_thread">
     {% if page.comments %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'avashmulmicomnp'; // required: replace example with your forum shortname
	var disqus_developer = 1;
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
   </div>
   
    </div>
       <header class="rmasthead">
   <h2> Index </h2>
 
  {% for post in site.posts %}
    
      <a  id="li" href="{{ post.url }}">+ {{ post.title }}</a>
    
  {% endfor %}

    </header>

  </body>
</html>
